<div class="m-wallpaper-container--nav clearfix">
    <div class="m-wallpaper-container--logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo/mumi_logo-blue_light.png') }}"></a>
    </div>
    <nav class="m-main-menu">
        {{ knp_menu_render('not_logged_right_side', {'allow_safe_labels': true}) }}
    </nav>
</div>