<div class="container hidden-md hidden-lg">
    <div class="">
        <a class="navbar-brand-mobile text-center" href="{{ path('homepage') }}">
            <img src="{{ asset('images/logo/mumi_logo-blue_light.png') }}" alt="mumi.hu" />
        </a>
    </div>
</div>
